@model Proyecto_CésarSilva1184519_JonnathanLanuza1082219.Models.Patients

@{
    ViewData["Title"] = "Details";
}

<h1>Details of patient</h1>

<div>
    <h4>Patients</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DPI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vaccinated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vaccinated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.job)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
