@model Proyecto_CésarSilva1184519_JonnathanLanuza1082219.Models.percentagepatients

@{
    ViewData["Title"] = "xVaccinated";
}

<h1>Percentage of people Vaccinated</h1>

<div>
    <p style="color:#095508">Percentage of patients vaccinated</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nonVaccinated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nonVaccinated)
        </dd>
        </br>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vaccinated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vaccinated)
        </dd>
        </br>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tvac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tvac)
        </dd>
        </br>
    </dl>
</div>
<div>
    <a asp-action="Simulation">Back to List</a>
</div>
